*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(line-particles.jpg);
}


h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}
b{
    color: white;
}
h1{
    color: white;
}
a{
    color: white;
}
P{
    color: white;
}
h3{display: flex;
align-items:right;
}
li{
    color: white;
}
li1
{
    font-size:xx-large;
}
th{
    color: white;
}
tr{
    size: 10cm;
}
td{
    color: white
}
image src{}